<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyFile_1" fileName="logs/foundStation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <BurstFilter level="info" rate="1" maxBurst="1" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="MyFile_2" fileName="logs/notFoundStation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <BurstFilter level="warn" rate="1" maxBurst="1" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="MyFile_3" fileName="logs/exception.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="MyFile_1" level="info"/>
            <appender-ref ref="MyFile_2" level="warn"/>
            <appender-ref ref="MyFile_3" level="error"/>
        </root>
    </loggers>
</configuration>